.container
  .jumbotron
    .container
      %h1.display-4.text-center Log in
      %hr.my-4/
      .form-group
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password",class:"form-control"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in", class:"btn btn-primary"
        = render "devise/shared/links"
